
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Expence Manager</title>
</head>
<body>
    <h1>Expence Manager</h1>
    <p>
        <span class="important">Expence Manager</span> adlı projem, şirket çalışanlarının masraflarını ve harcamalarını takip etmek için tasarlanmış bir takip sistemi sunmaktadır. Proje, kategoriler, çalışanlar, harcamalar ve onaylar gibi önemli bileşenleri içermektedir. Kategoriler sayesinde harcamaları kolaylıkla sınıflandırabiliyor, çalışanlar bölümünde ise her bir çalışanın özel bilgilerini ve masraflarını yönetebiliyorum. Harcamalar kısmında detaylı bir şekilde tablolar halinde sunulan veriler, görsel ve anlaşılır bir şekilde sunulmaktadır. Onaylar bölümü ise yetkilendirme sürecini yönetmek için kullanılmaktadır.
    </p>
    <p>
        Bu projede SQL Server veritabanı kullanarak verileri güvenli bir şekilde saklıyorum. Ayrıca, proje geliştirme sürecinde birçok kaynaktan yardım alarak daha verimli ve etkili bir şekilde ilerledim. Projenin amacı, şirket çalışanlarının masraflarını daha iyi takip etmelerine ve yönetmelerine yardımcı olmaktır.
    </p>
    <p>
        <span class="important">Expence Manager</span> projesi, kullanıcı dostu arayüzü ve detaylı raporlama özellikleriyle şirketin mali süreçlerini daha verimli hale getirmeyi hedeflemektedir. Kullanıcılar, projenin sunduğu özelliklerden faydalanarak masraflarını izleyebilir, harcamalarını analiz edebilir ve onay süreçlerini kolaylıkla yönetebilirler.
    </p>
    <p>
        Bu projeyi geliştirirken, hem programlama becerilerimi geliştirme fırsatı buldum hem de iş süreçlerini optimize etmek için pratik çözümler ürettim. <span class="important">Expence Manager</span>, şirketlerin masraf yönetimi alanında verimliliklerini artırmalarına yardımcı olacak güçlü bir araç olarak öne çıkmaktadır.
    </p>

    <br />
    <br />

    <div>
        <h1>Projenin Eksikleri/Yetişmeyenler</h1>
        <p>
            -Login Kısmı Eklenemedi
            <br />
            -Onay Yapıldıktan Sonra Alt Tarafa Listelenemedi
        </p>
    </div>
    <br /><br /><br />
    <div>
        <h1>Projeye Yapılacaklar Listesi</h1>
        <p>
            -Tasarımlar Daha Profesyonel Hale getirilecektir
            <br />
            -Çok Güzel Bir Login Kısmı Eklenecektir
            <br />
            -En/Tr ve Dark/Light Temaları/Modları Eklenecek.
            <br />
            -Çalışan Tablosuna Cinsiyet/Yaş/TelNo/ Eklenecektir.
            <br />
            -Depertmanlar Liste Halinde Seçilecektir.
            <br />
            -Birden fazla DropDownList Eklenecek.
            <br />
            -Yeni Nesil Özellikler Eklenecektir.
        </p>
    </div>
    <br /><br />



    <link href="~/Content/about.css" rel="stylesheet" />

    @section scripts {
        <script src="~/Scripts/about.js"></script>
    }
</body>
</html>